---
layout: default
title: "Bækur"
permalink: /books/
---

<div class="book-review">
  <h1>Bækur</h1>
  <p>Hér skrifa ég um bækur sem ég hef lesið.</p> <!-- Explanatory text in Icelandic -->
  <ul>
    {% for book in site.books %}
      <li>
        <a href="{{ book.url }}">
          {% if book.cover_image %}
            <img src="{{ book.cover_image }}" alt="Cover image of {{ book.title }}" class="book-cover">
          {% endif %}
          <h2>{{ book.title }}</h2>
          <p>{{ book.author }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

